<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KonnectUs</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @* Stylesheet linking for the styling of the structural HTML *@
    <link href="~/Content/style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/responsive.css" rel="stylesheet" type="text/css">

    @* Linking the Favourite Icon of the webpage*@
    <link rel="icon" href="~/icon.ico" />
</head>
<body>
    @* Creating the navbar for the website *@
    <div class="navbar h-nav">
        <img src="~/Content/images/logo.png" alt="Logo" class="Mainlogo">
        <div class="navText">Connecting you for you</div>
        <div class="nav">

            @* List of the hyperlink in the navbar *@
            <ul class="v-class navlist">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Help", "Help", "Home")</li>
                <li>@Html.ActionLink("Login", "Login", "Account")</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        @* Footer for the website*@
        <footer>
            <p>Copyrights &copy; @DateTime.Now.Year - Syntax Terminator - All rights reserved</p>
        </footer>
    </div>

    @* Scripts files for the rendering of the webpage *@
    @Scripts.Render("~/Content/res.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
